/* smaller screen first */

body {
    font-family: 'RocknRoll One', sans-serif;
    background-color: rgb(156, 207, 216);
    margin: 0;
    color: rgb(89, 84, 109);
    height: 100vh;
}

h1 {
    font-family: 'Indie Flower', cursive;
    color: white;
}


/* header */

header {
    background-color: rgb(49, 116, 143);
    text-align: center;
}


/* navigation bar */

nav ul {
    list-style-type: none;
    text-align: center;
}


/* main content */

main {
    text-align: center;
}

main h2 {
    font-size: 1.2em;
}

#album-section span {
    display: block;
}

#album-section span {
    display: block;
    margin: 0 auto;
}

#cart-section {
    background-color: rgb(224, 222, 244);
    padding-bottom: 1em;
    display: grid;
    margin: 1em 0;
}

#footer-nav {
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-around;
}


/* footer */

footer {
    background-color: rgb(49, 116, 143);
    text-align: center;
    color: white;
    height: 4em;
    display: flex;
    align-items: center;
    margin-top: .5em;
}


/* larger screen */

@media screen and (min-width: 640px) {
    body {
        display: flex;
        flex-direction: column;
    }
    header h1 {
        margin: .1em 0;
    }
    /* top navigation */
    #top-nav ul {
        display: flex;
        justify-content: space-evenly;
    }
    /* album section */
    #album-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
    }
    footer {
        margin-top: auto;
        justify-content: center;
    }
}